form::after {
  content: '';
  clear: both;
  display: block;
}

form.appForm {
  width: 90%;
  margin: 0 auto 0 -30px;
  padding: 10px;
  border: 1px solid #cecfd0;
  border-radius: 5px;
  background: #f3f6f9;
}

form label {
  font-weight: bold;
  text-transform: uppercase;
}

form input.appFormInput {
  width: 100%;
  height: 33px;
  border: 1px solid #d6d7da;
  border-radius: 5px;
}

div.appFormInputContainer {
  margin-bottom: 15px;
}

form#userAddFormContainer {
  padding-top: 100px;
}

button.appBtn {
  background: #0daaff;
  border: 1px solid #f685a1;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  float: right;
  margin-right: -50px;
}

button.appBtn:hover {
  cursor: pointer;
}

.responseMessage {
  font-size: 18px;
  text-align: center;
  margin-top: 33px;
  padding: 20px;
}

p.responseMessage_error {
  background: rgba(152, 7, 7, 0.1);
}

p.responseMessage_success {
  background: rgba(0, 255, 0, 0.1);
}

/* ---  */

div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

div.column {
  width: 100%;
  margin-top: 67px;
  /* margin-left: 20px; */
}

div.column-5 {
  width: 41.67%;
}

div.column-7 {
  width: 57.60%;
  background-color: #fff;
}

h1.sectionheader {
  font-size: 21px;
  color: #0daaff;
  border-bottom: 1px solid #0daaff;
  padding: 10px;
  border-left: 4px solid #0daaff;
  margin-bottom: 15px;
}

table,
td,
th {
  border: 1px solid #cacaca;
  border-collapse: collapse;
}

table th {
  font-size: 20px;
  text-transform: uppercase;
}

table td {
  font-size: 16px;
}

textarea.productTextAreaInput {
  width: 100%;
  height: 75px;
  margin-bottom: 15px;
}

.productImages {
  height: 100px;
}

#products,
#suppliersSelect {
  display: block;
  width: 100%;
  height: 100px;
  border-color: #d2d2d2;
}

.orderProductBtn {
  background: #0daaff;
  color: #fff;
}

.orderProductBtn:hover {
  cursor: pointer;
}

.orderBtn {
  height: 33px;
  border: none;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 16px;
}

.submitOrderProductBtn {
  background: #323232;
  color: #ffffff;
  font-weight: bold;
}

.alignRight {
  text-align: right;
  margin-right: 50px;
}

#orderProductLists {
  margin-top: 2Øpx;
}

.productNameSelect {
  font-size: 15px;
  border: none;
  background: #fafafa;
  padding: 3px 17px;
  border: 1px solid #b0b0b0;
  border-radius: 20px;
}

div .orderProductRow {
  padding: 6px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 25px;
  padding-top: 25px;
}

#orderProductLists .row {
  margin: 0 !important;
}

.suppliersRow .supplierName {
  margin-left: 12px;
  font-size: 15px;
  font-weight: bold;
  coLor: #a1a1a1;
  text-transform: uppercase;
}

.suppliersRow .row {
  padding: 12px 0;
}

.orderProductQty {
  height: 27px;
  background: #f8f8f8;
  text-indent: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
}

.removeOrderBtn {
  background: #0daaff;
  color: #fff;
  float: right;
  margin-right: 50px;
}

.poList {
  margin-bottom: 25px;
  padding: 80px;
  border-bottom: solid #d1d1d1;
  border-radius: 5px;
  background: #fbfbfb;
  /* margin-right:100px; */
  padding-top: 21px;
}

.poList P {
  font-weight: bold;
  text-transform: uppercase;
  coLor: #0daaff;
  font-size: 16px;
}

.poList table td,
.poList table th {
  /* border: none; */
  /* border-bottom:lpx dotted #b7b7b7; */
}

.poList table td {
  padding: 13px 14px;
  font-size: 13px;
}

.updatePoBtn {
  margin-top: 20px;
  margin-right: 89px;
}

.po-badge {
  padding: 4px 6px;
  border: 1px solid;
}

.po-badge-pending {
  background: #ff7c76;
  border-coLor: #556455;
}

.po-badge-complete {
  background: #b5ebb5;
  border-color: green;
}

.po-badge-incomplete {
  background: #f7e640;
  color: #392b2b;
  border-coLor: #a3a3a3; 
}

.alignLeft {
  text-align: left;
}

